 <br> <h2> Galeria zwierzęcia: {{gallery.title}}</h2> <br> <br>

  <div *ngIf="!showGalleryDetails"> <br>

  <p id="miejsce"> Miejsce występowania zwierzęcia i wykonania zdjęć: {{gallery.place}} </p> <br>

  <p id="data"> Data wykonania zdjęć: {{gallery.dateCreated}} </p> <br> <br>

  <div id="tag">
    <span *ngFor="let photo of gallery.tags"> {{photo.tag}} </span> <br> <br>
  </div>

  <div class="row row-align-middle">
    <a class="duze">
      <img src={{photo.thumbUrl}}>
    </a>
  </div> <br>



  <div class="row row-align-middle">
    <div class="male" *ngFor="let photo of gallery.photos"> <img src="{{photo.thumbUrl}}" (click)="onClick(photo)"> <br>
    </div>
  </div> <br>

</div>

<div *ngIf="!showGalleryDetails" class="przyciskiduze">
<button class="button" (click)="showGalleryDetails=true">Edytuj galerię</button>
</div>

<div *ngIf="showGalleryDetails">
  <h4>Formularz edycji galerii</h4> <br>
  <app-add-gallery-form [(gallery)]="gallery" (saveGallery)="saveGallery($event)"> </app-add-gallery-form>
  <div class="przyciskiduze">
    <button class="button" (click)="showGalleryDetails=false" > Wróć </button>
  </div>
</div>


<div  *ngIf="!showGalleryDetails">
<h2><br>
  Komentarze:
</h2><br>

<div id="komentarze">
  <app-comment-item  *ngFor="let comment of comments" [comment]="comment" (deleteComment)="removeComment($event)"> </app-comment-item> <br>
  <app-comment-form [galleryId]="gallery.galleryId" (addComment)="NewComment($event)"> </app-comment-form>
</div>
</div>


