<form class="pola" #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)" novalidate>

  <div>
    <i class="fa fa-bell"></i>
    <label><b>Pierwsze imię:</b></label>
    <i class="fa fa-bell"></i>
    <input placeholder="Tutaj wpisz swoje imię."  type="text" class="input-control" name="firstName" #firstName="ngModel" [(ngModel)]="comment.firstName" required>
    <p class="form-error" [hidden]="firstName.valid || firstName.pristine">Wymagane podanie pierwszego imienia!</p>
  </div><br>

  <div>
    <label><b>Nazwisko:</b></label>
    <input placeholder="Tutaj wprowadź swoje nazwisko." type="text" class="input-control" name="lastName" #lastName="ngModel" [(ngModel)]="comment.lastName" required>
    <p class="form-error" [hidden]="lastName.valid || lastName.pristine">Wymagane podanie nazwiska!</p>
  </div><br>

  <div>
    <label><b>Adres e-mail:</b></label>
    <input placeholder="Tutaj wprowadź swój adres e-mail."  type="text" class="input-control" name="email" #email="ngModel" [(ngModel)]="comment.email" required pattern="[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*">

    <p class="form-error" *ngIf="email.invalid && !email.pristine && !email.dirty">Wymagane jest wpisanie adresu e-mail!</p>
    <p class="form-error" *ngIf="email.invalid && !email.pristine && email.dirty">Nieprawidłowo wpisany adres e-mail!</p>

  </div><br>

  <div >
    <label><b>Wiadomość:</b></label>
    <textarea placeholder="Tutaj wpisz parę słów, które chcesz mi przekazać." type="text" class="input-control" name="message" #message="ngModel" [(ngModel)]="comment.message" required></textarea>
    <p class="form-error" [hidden]="message.valid || message.pristine">Wymagane wpisanie wiadomości!</p>
  </div><br>

  <button class="button" [disabled]="!commentForm.form.valid">Wyślij wiadomość</button>

</form>
