<div class="container">
  <div class="row">
    <div class="grid-6 grid-centered">
      <img src="./src/zdjecia/nawigacja/zwierzeta.jpg" id="logo" >
    </div>
      <div class="grid-10 grid-centered">
       <ul>
          <li><a routerLink="/dashboard" routerLinkActive="is-active">Strona główna</a></li>
          <li><a routerLink="/galleries" routerLinkActive="is-active">Galeria</a></li>
          <li><a routerLink="/contact" routerLinkActive="is-active">Kontakt</a></li>
       </ul>
      </div>
  </div>
</div>
