#opis {
  text-align: center;
  font-family: cursive;
}

.przyciskiduze {
   padding-left: 38%;

}

.wroc {
  text-align: center;
}

.opis {
  font-family: fantasy;
  font-size: 15px;
}


h1 {
  color: #191970;
  text-decoration: underline overline;
  text-align: center;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
  0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
  0 0 40px #A5F1FF;
  font-family: Palatino Linotype, serif;
  letter-spacing: 2px;
}

h4 {
  color: #0000CD;
  text-align: center;
  font-family: Georgia, serif;
}

.button {
  font-size: 16px;
  background-color: #f44336;
  color: white;
}

.przyciskistron {
  font-size: 18px;
  background-color: #f44336;
  color: white;
}

#lol {
  text-align: center;
  float: right;
}

#zmiana {
  text-align: center;
  float:left;
}
